

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}





/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #555;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  color: #aaa;
  min-height: 100%;
}
.container {
  vertical-align: center;
}

.input-buttons{
  max-height:50vh;
}
.president-input-div{
  display: block;
  margin-left: 5%;
  margin-right: auto;
}
.facebook-like-button{
  position: absolute;
  right: 0;
  top:0;
  height: 50px;
  width: 100px;
  background-color: blue;
}
.facebook-area{
  width: 100px;
  height: 50px;
}

.president{
  margin:10px;
  width:30%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  text-align: center;
  vertical-align: middle;


}
.president-images{
  border-style: solid;
  border-color: rgb(0, 50, 100, 0.5);
  border-width: 2px;
  border-radius:50px;
  width: 100px;
  height: 100px;
}
@media(max-width: 750px){
  .president-images{
    width: 80px;
    height: 80px;
    border-radius: 40px;
  }
  .president{
    height: 150px;
  }

}

@media(max-width: 420px){
  .president-images{
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }
  .president{
    height: 100px;
  }

}
.president-images:hover{
  cursor: pointer;
}

.president-force-div{
  display:flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  width: 100%;
  height: 100vh;
  min-height: 100%;

  -webkit-box-shadow: inset 0 0 100px rgba(0,50,100,.5);
          box-shadow: inset 0 0 100px rgba(0,50,100,.5);

}

.nav-container{
  width: 100%;
  position: relative;
  height: 50px;
}
.masthead-brand{
  margin:10px;
}
.masthead-nav{
  display: flex;
}


.container{
 margin-right: auto;
 margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;

  vertical-align: middle;
}


/*
 * Header
 */

.masthead-brand {
  float: left;
}
.masthead-nav {
  float: right;
}



/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}

.mastfoot{
  position: fixed;
  bottom:0;
}
.site-wrapper-inner{
  vertical-align: middle;
  display: flex;
  flex-direction: column;
}


/*
 * Affix and center
 */

.vertical-container {
  display:flex;
  flex-direction: column;
}
.btn{
  margin:5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  color: #333;
}
.btn#facebook {
  width: 40px;
}
.anarchy-div{
  margin-left: auto;
  margin-right: auto;
}

@media(max-width:  400px){
  h3{
    font-size: 12px;
  }
}
.btn.state{
  width: 120px;
}

.chartLabel {
  margin-bottom: 15px;
}
